@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark  : #000000;
    --light : #ffffff;
    --primary : #dadcdf;
}

[data-theme="light"] {
    --bg-color : var(--light);
    --fg-color : var(--dark);
}

[data-theme="dark"] {
    --bg-color : var(--dark);
    --fg-color : var(--light);
}

.theme {
    background: var(--bg-color);
    color: var(--fg-color);
}

.itheme {
    background: var(--fg-color);
    color: var(--bg-color);
}

.poppins {
    font-family: 'Poppins';
}

.roboto {
    font-family: 'Roboto';
}

.debug {
    border: 1px solid red;
}

.common-word-spacing {
    word-spacing: 10px;
}

.common-box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.fade-up {
    opacity: 0; 
    transform: translateY(50px);
    animation: fadeUpAnimation 1s ease-in-out forwards;
}

.scale-up-down {
    animation: scaleUpAndDownAnimation 1s ease-in-out alternate infinite; 
    animation-delay: 1s;
}

.commmon-gradient {
    background: linear-gradient(to right,#7c3aed,#4f46e5);
}

@keyframes fadeUpAnimation {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUpAndDownAnimation {
    from {
        scale: 1;
    }
    to {
        scale: 1.1;
    }
}

.content-container::-webkit-scrollbar {
    width: 0px;
}
